body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    /* Ensure body covers full width of the viewport */
}

.resume {
    width: 90%;
    /* Set the width of the resume container to 90% of the viewport */
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-sizing: border-box;
    
    /* Ensures padding is included in width calculation */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 5px 0;
}

.section {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    color:#0083b4;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
